* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

.h3, .section-3-index h3, .section-marcas h3, .section-indumentaria h3, .section-talles-arriba h3, .section-talles-pantalon h3, .section-talles-calzado h3, .section-marcas-botines h3, .section-contacto h3, .h3-sucursales, .section-tyc h3, .section-como-comprar h3, .section-preguntas-frecuentes h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  text-align: center;
  text-decoration: overline;
  font-style: oblique;
  color: #ffffff;
  background-color: #ff0000d0;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  width: 100%; }

.carousel-productos, .section-3-index div {
  width: 280px;
  box-shadow: 0 0 5px 3px;
  height: 400px; }
  .carousel-productos div, .section-3-index div div {
    width: 280px;
    text-align: center; }
    .carousel-productos div div, .section-3-index div div div {
      height: 400px;
      width: 100%; }
      .carousel-productos div div img, .section-3-index div div div img {
        margin: 0;
        height: 250px;
        width: 250px; }
      .carousel-productos div div h5, .section-3-index div div div h5 {
        font-family: "Bebas Neue", cursive;
        font-size: 20px;
        margin-bottom: 2px; }
      .carousel-productos div div p, .section-3-index div div div p {
        font-family: "Bebas Neue", cursive;
        font-size: 25px;
        color: #3aa70f;
        margin-bottom: 1px; }
      .carousel-productos div div a button, .section-3-index div div div a button {
        font-family: "Bebas Neue", cursive;
        font-size: 25px; }

.section-4-index-li, .section-4-index-ul .section-4-index-li-1, .section-4-index-ul .section-4-index-li-2, .section-4-index-ul .section-4-index-li-3 {
  background-size: cover;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3px; }
  .section-4-index-li a, .section-4-index-ul .section-4-index-li-1 a, .section-4-index-ul .section-4-index-li-2 a, .section-4-index-ul .section-4-index-li-3 a {
    text-decoration: none;
    font-family: "Bebas Neue", cursive;
    font-size: 30px;
    color: #ffffff;
    background-color: #ff00007e;
    border-radius: 3px;
    padding: 0px 10px; }

header a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header a img {
    height: 180px;
    width: 200px; }

header h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 35px;
  color: #ffffff;
  background-color: #ff00007e;
  border-radius: 3px;
  text-align: center; }

header .form-buscador {
  height: 30px; }
  header .form-buscador .button-buscador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", cursive;
    color: #ffffff;
    border-radius: 3px;
    border: solid #ff00007e 2px;
    font-size: 20px; }
  header .form-buscador input {
    border: solid #ff00007e 2px; }

header .nav-button {
  border: solid #ff00007e 2px !important; }

header .nav-link {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  text-align: center; }

@media screen and (min-width: 768px) {
  .navbar-nav {
    background-color: #ff00007e;
    border-radius: 3px;
    width: 100%; }
    .navbar-nav .nav-item {
      width: 100%; } }

@media screen and (min-width: 992px) {
  header {
    position: fixed;
    z-index: 9;
    width: 100%;
    top: 0;
    left: 0; }
    header a img {
      height: 170px;
      width: 200px;
      animation-name: logo-animation;
      animation-duration: 3s;
      position: relative; }
  @keyframes logo-animation {
    0% {
      right: 100%; }
    100% {
      right: 0; } }
    header h1 {
      font-size: 33px;
      animation-name: h1-animation;
      animation-duration: 3s;
      position: relative; }
  @keyframes h1-animation {
    0% {
      left: 300%; }
    100% {
      left: 0; } }
    header .nav-link {
      transition: all; }
      header .nav-link:hover {
        font-weight: 700; } }

@media screen and (min-width: 1320px) {
  header .nav-link {
    font-size: 25px; } }

.section-1-img-caurosel {
  height: 200px; }

.section-index-img-adidas, .section-index-img-nike {
  width: 100%;
  min-height: 200px;
  margin: 5px 0px; }

.section-index-img-nike {
  margin: 0px; }

.section-3-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px; }

.section-4-index-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 20px; }
  .section-4-index-ul .section-4-index-li-1 {
    background-image: url(../multimedia/img/indumentaria/indumentaria.webp); }
  .section-4-index-ul .section-4-index-li-2 {
    background-image: url(../multimedia/img/botines/botines.webp);
    background-position-y: bottom;
    margin: 10px 0px; }
  .section-4-index-ul .section-4-index-li-3 {
    background-image: url(../multimedia/img/accesorios/accesorios.webp);
    background-position-y: 250px; }

.section-marcas div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000; }
  .section-marcas div a {
    border: solid #353535 3px;
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0px; }

.section-pagos {
  text-align: center;
  margin-top: 15px;
  box-shadow: 0 -5px 8px 1px #0000004d; }
  .section-pagos img {
    margin: 5px 10px; }

@media screen and (min-width: 768px) {
  .section-1-div {
    height: 400px; }
    .section-1-div .section-1-img-caurosel {
      height: 400px; }
  .section-adidas-nike {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center; }
    .section-adidas-nike .section-index-img-adidas, .section-adidas-nike .section-index-img-nike {
      width: 80%;
      max-height: 600px;
      margin: 15px 0px;
      border-radius: 5px;
      border: solid 2px #ff0000d0; }
    .section-adidas-nike .section-index-img-nike {
      width: 80%;
      min-height: 200px;
      border-radius: 5px;
      border: solid 2px #ff0000d0;
      margin-bottom: 15px; }
  .section-3-index .carousel-productos, .section-3-index div {
    width: 350px; }
    .section-3-index .carousel-productos div, .section-3-index div div {
      width: 350px; }
  .section-4-index-ul .section-4-index-li-1 {
    background-position-y: 600px; }
    .section-4-index-ul .section-4-index-li-1 a {
      font-size: 35px; }
  .section-4-index-ul .section-4-index-li-2 {
    background-position-y: 400px; }
    .section-4-index-ul .section-4-index-li-2 a {
      font-size: 35px; }
  .section-4-index-ul .section-4-index-li-3 {
    background-position-y: 400px; }
    .section-4-index-ul .section-4-index-li-3 a {
      font-size: 35px; }
  .section-marcas div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #000000; } }

@media screen and (min-width: 992px) {
  .body-page {
    margin-top: 218px; }
  .section-1-div {
    height: 500px; }
    .section-1-div .section-1-img-caurosel {
      height: 500px; }
  .section-adidas-nike .section-index-img-adidas, .section-adidas-nike .section-index-img-nike {
    transition: all 1s; }
    .section-adidas-nike .section-index-img-adidas:hover, .section-adidas-nike .section-index-img-nike:hover {
      opacity: 0.5;
      box-shadow: 0px 0px 5px 8px #6e0303d5; }
  .section-3-index h3 {
    font-size: 30px; }
  .section-4-index-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0px; }
    .section-4-index-ul .section-4-index-li-1 {
      width: 300px;
      height: 300px;
      background-position-y: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      border: #000000 solid 3px; }
      .section-4-index-ul .section-4-index-li-1 a {
        background-color: #ff00007e;
        border-radius: 5px;
        padding: 0px 10px;
        transition: all 0.8s ease-in-out; }
        .section-4-index-ul .section-4-index-li-1 a:hover {
          background-color: #4d0202f3;
          color: #ffffff;
          font-size: 40px; }
    .section-4-index-ul .section-4-index-li-2 {
      width: 300px;
      height: 300px;
      background-position-y: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      border: #000000 solid 3px; }
      .section-4-index-ul .section-4-index-li-2 a {
        background-color: #ff00007e;
        border-radius: 5px;
        padding: 0px 10px;
        transition: all 0.8s ease-in-out; }
        .section-4-index-ul .section-4-index-li-2 a:hover {
          background-color: #4d0202f3;
          color: #ffffff;
          font-size: 40px; }
    .section-4-index-ul .section-4-index-li-3 {
      width: 300px;
      height: 300px;
      background-position-y: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      border: #000000 solid 3px; }
      .section-4-index-ul .section-4-index-li-3 a {
        background-color: #ff00007e;
        border-radius: 5px;
        padding: 0px 10px;
        transition: all 0.8s ease-in-out; }
        .section-4-index-ul .section-4-index-li-3 a:hover {
          background-color: #4d0202f3;
          color: #ffffff;
          font-size: 40px; }
  .section-marcas h3 {
    font-size: 30px; }
  .section-marcas a {
    transition: all 0.8s ease-in-out; }
    .section-marcas a:hover {
      background-color: #353535;
      height: 150px;
      width: 150px; }
  .section-pagos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    box-shadow: 0 -5px 8px 1px #0000004d; } }

@media screen and (min-width: 1024px) {
  .section-adidas-nike {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; } }

.section-indumentaria .div-col-indumentaria {
  padding: 0px; }
  .section-indumentaria .div-col-indumentaria .div-camisetas-de-futbol, .section-indumentaria .div-col-indumentaria .div-short-de-futbol, .section-indumentaria .div-col-indumentaria .div-conjuntos, .section-indumentaria .div-col-indumentaria .div-buzos-camperas {
    background-image: linear-gradient(0deg, #00000046, #00000046), url(../multimedia/img/indumentaria/camiseta-de-futbol.webp);
    width: 100%;
    height: 200px;
    background-size: 100% 200px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center; }
    .section-indumentaria .div-col-indumentaria .div-camisetas-de-futbol a, .section-indumentaria .div-col-indumentaria .div-short-de-futbol a, .section-indumentaria .div-col-indumentaria .div-conjuntos a, .section-indumentaria .div-col-indumentaria .div-buzos-camperas a {
      text-align: center;
      text-decoration: none;
      font-family: "Bebas Neue", cursive;
      font-size: 30px;
      color: #ffffff;
      background-color: #ff000085;
      padding: 20px;
      height: 60px;
      width: 100%; }
  .section-indumentaria .div-col-indumentaria .div-short-de-futbol {
    background-image: linear-gradient(0deg, #00000046, #00000046), url(../multimedia/img/indumentaria/short.webp); }
  .section-indumentaria .div-col-indumentaria .div-conjuntos {
    background-image: linear-gradient(0deg, #00000046, #00000046), url(../multimedia/img/indumentaria/conjunto.webp); }
  .section-indumentaria .div-col-indumentaria .div-buzos-camperas {
    background-image: linear-gradient(0deg, #00000046, #00000046), url(../multimedia/img/indumentaria/camperas-buzos.webp); }

.section-talles-arriba h3, .section-talles-pantalon h3, .section-talles-calzado h3 {
  text-decoration: none;
  text-align: start;
  padding-left: 10px; }

.section-talles-arriba table, .section-talles-pantalon table, .section-talles-calzado table {
  font-family: "Bebas Neue", cursive;
  font-size: 20px; }
  .section-talles-arriba table th, .section-talles-pantalon table th, .section-talles-calzado table th {
    font-weight: 100; }
  .section-talles-arriba table td, .section-talles-pantalon table td, .section-talles-calzado table td {
    font-weight: 100; }

@media screen and (min-width: 768px) {
  .section-indumentaria h3 {
    font-size: 30px; }
  .section-indumentaria .div-col-indumentaria {
    padding: 5px !important; }
    .section-indumentaria .div-col-indumentaria .div-camisetas-de-futbol, .section-indumentaria .div-col-indumentaria .div-short-de-futbol, .section-indumentaria .div-col-indumentaria .div-conjuntos, .section-indumentaria .div-col-indumentaria .div-buzos-camperas {
      border: solid #ff00007e 2px;
      border-radius: 5px; }
      .section-indumentaria .div-col-indumentaria .div-camisetas-de-futbol a, .section-indumentaria .div-col-indumentaria .div-short-de-futbol a, .section-indumentaria .div-col-indumentaria .div-conjuntos a, .section-indumentaria .div-col-indumentaria .div-buzos-camperas a {
        text-align: start; }
  .section-3-index h3 {
    font-size: 30px; } }

@media screen and (min-width: 992px) {
  .section-indumentaria h3 {
    animation-name: h3-indumentaria-animation;
    animation-duration: 3s; }
  @keyframes h3-indumentaria-animation {
    0% {
      width: 20%; }
    100% {
      width: 100%; } }
  .section-indumentaria .div-col-indumentaria .div-camisetas-de-futbol, .section-indumentaria .div-col-indumentaria .div-short-de-futbol, .section-indumentaria .div-col-indumentaria .div-conjuntos, .section-indumentaria .div-col-indumentaria .div-buzos-camperas {
    height: 300px;
    background-size: 100% 300px; }
    .section-indumentaria .div-col-indumentaria .div-camisetas-de-futbol a, .section-indumentaria .div-col-indumentaria .div-short-de-futbol a, .section-indumentaria .div-col-indumentaria .div-conjuntos a, .section-indumentaria .div-col-indumentaria .div-buzos-camperas a {
      height: 80px;
      transition: all 0.8s ease-in-out; }
      .section-indumentaria .div-col-indumentaria .div-camisetas-de-futbol a:hover, .section-indumentaria .div-col-indumentaria .div-short-de-futbol a:hover, .section-indumentaria .div-col-indumentaria .div-conjuntos a:hover, .section-indumentaria .div-col-indumentaria .div-buzos-camperas a:hover {
        height: 100px;
        background-color: #6e0303d5;
        font-size: 35px; }
  .section-talles-arriba, .section-talles-pantalon, .section-talles-calzado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .section-talles-arriba table, .section-talles-pantalon table, .section-talles-calzado table {
      width: 90%; } }

.section-marcas-botines .section-botines-div-adidas, .section-marcas-botines .section-botines-div-nike, .section-marcas-botines .section-botines-div-puma, .section-marcas-botines .section-botines-div-umbro {
  background-image: url(../multimedia/img/botines/adidas/botines-adidas-fondo.webp);
  width: 100%;
  height: 201px;
  background-size: 100% 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 10px;
  border: #ff040477 solid 3px;
  border-radius: 3px; }
  .section-marcas-botines .section-botines-div-adidas a, .section-marcas-botines .section-botines-div-nike a, .section-marcas-botines .section-botines-div-puma a, .section-marcas-botines .section-botines-div-umbro a {
    background-color: #ff0000d0;
    font-family: "Bebas Neue", cursive;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    font-style: italic;
    padding: 2px 20%;
    margin-bottom: 30px;
    border-radius: 2px; }

.section-marcas-botines .section-botines-div-nike {
  background-image: url(../multimedia/img/botines/nike/botines-nike-fondo.webp); }

.section-marcas-botines .section-botines-div-puma {
  background-image: url(../multimedia/img/botines/puma/botines-puma-fondo.webp); }

.section-marcas-botines .section-botines-div-umbro {
  background-image: url(../multimedia/img/botines/umbro/botines-umbro-fondo.webp); }

.section-talles-calzado {
  text-align: center; }

@media screen and (min-width: 992px) {
  .section-marcas-botines h3 {
    font-size: 30px;
    animation-name: h3-botines-animation;
    animation-duration: 3s; }
  @keyframes h3-botines-animation {
    0% {
      width: 20%; }
    100% {
      width: 100%; } }
  .section-marcas-botines .section-botines-div-adidas, .section-marcas-botines .section-botines-div-nike, .section-marcas-botines .section-botines-div-puma, .section-marcas-botines .section-botines-div-umbro {
    height: 301px;
    background-size: 100% 300px; }
    .section-marcas-botines .section-botines-div-adidas a, .section-marcas-botines .section-botines-div-nike a, .section-marcas-botines .section-botines-div-puma a, .section-marcas-botines .section-botines-div-umbro a {
      font-size: 35px;
      transition: all 0.8s ease-in-out; }
      .section-marcas-botines .section-botines-div-adidas a:hover, .section-marcas-botines .section-botines-div-nike a:hover, .section-marcas-botines .section-botines-div-puma a:hover, .section-marcas-botines .section-botines-div-umbro a:hover {
        color: #ffffff;
        background-color: #6e0303d5;
        font-size: 45px;
        text-decoration: underline; } }

.section-contacto .form-contacto {
  text-align: center;
  margin-bottom: 30px; }
  .section-contacto .form-contacto div {
    margin: 15px; }
    .section-contacto .form-contacto div p {
      font-family: "Bebas Neue", cursive;
      text-align: center;
      font-size: 20px; }
    .section-contacto .form-contacto div input {
      height: 30px;
      width: 200px;
      border: solid #ff0000d0 2px; }
  .section-contacto .form-contacto div textarea {
    height: 150px;
    width: 250px;
    border: solid #ff0000d0 2px; }
  .section-contacto .form-contacto .input-enviar {
    height: 40px;
    font-family: "Bebas Neue", cursive;
    font-size: 25px; }

@media screen and (min-width: 768px) {
  .section-contacto .form-contacto div p {
    font-size: 25px; }
  .section-contacto .form-contacto div input {
    height: 40px;
    width: 250px; }
  .section-contacto .form-contacto div textarea {
    height: 170px;
    width: 300px; } }

@media screen and (min-width: 992px) {
  .section-contacto h3 {
    font-size: 30px;
    animation-name: h3-contacto-animation;
    animation-duration: 3s; }
  @keyframes h3-contacto-animation {
    0% {
      width: 20%; }
    100% {
      width: 100%; } }
  .section-contacto .form-contacto .div-contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 1fr 1fr; }
    .section-contacto .form-contacto .div-contacto div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .section-contacto .form-contacto .div-contacto div input {
        width: 300px; }
  .section-contacto .form-contacto .div-textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .section-contacto .form-contacto .input-enviar {
    transition: all 0.8s; }
    .section-contacto .form-contacto .input-enviar:hover {
      background-color: #ff0000d0;
      color: #ffffff;
      height: 55px; } }

.h3-sucursales, .section-tyc h3, .section-como-comprar h3, .section-preguntas-frecuentes h3 {
  text-align: start;
  text-decoration: none; }

.section-sucursales div {
  width: 100%;
  border: #000000 solid 3px;
  margin: 20px 0px;
  text-align: center; }
  .section-sucursales div .inframe-sucursales {
    width: 90%;
    height: 300px; }
  .section-sucursales div h4 {
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
    margin-top: 5px; }
  .section-sucursales div p {
    font-family: sans-serif; }

@media screen and (min-width: 768px) {
  .h3-sucursales, .section-tyc h3, .section-como-comprar h3, .section-preguntas-frecuentes h3 {
    padding-left: 15px; }
  .section-sucursales div h4 {
    font-size: 25px; } }

@media screen and (min-width: 1024px) {
  .h3-sucursales, .section-tyc h3, .section-como-comprar h3, .section-preguntas-frecuentes h3 {
    font-size: 30px;
    animation-name: h3-sucursales-animation;
    animation-duration: 3s; }
  @keyframes h3-sucursales-animation {
    0% {
      width: 15%; }
    100% {
      width: 100%; } }
  .section-sucursales {
    display: flex;
    justify-content: space-around; }
    .section-sucursales div {
      margin: 10px 10px; } }

.section-tyc .accordion-item {
  font-size: 17px;
  font-family: "Bebas Neue", cursive; }
  .section-tyc .accordion-item h2 button {
    font-size: 20px !important; }

@media screen and (min-width: 992px) {
  .section-tyc h3 {
    font-size: 30px;
    animation-name: h3-terminos-animation;
    animation-duration: 3s; }
  @keyframes h3-terminos-animation {
    0% {
      width: 15%; }
    100% {
      width: 100%; } }
  .section-tyc .accordion-item {
    font-size: 20px;
    font-family: "Bebas Neue", cursive; }
    .section-tyc .accordion-item h2 button {
      font-size: 25px !important; } }

.section-como-comprar div {
  padding-left: 20px; }
  .section-como-comprar div p {
    font-family: "Bebas Neue", cursive;
    font-size: 17px; }

@media screen and (min-width: 992px) {
  .section-como-comprar div p {
    font-size: 20px; } }

@media screen and (min-width: 992px) {
  .section-preguntas-frecuentes .accordion-item {
    font-size: 20px;
    font-family: "Bebas Neue", cursive; }
    .section-preguntas-frecuentes .accordion-item h2 button {
      font-size: 22px !important; } }

.footer-logo-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer-logo-a img {
    height: 150px;
    width: 200px; }

.footer-div-1 {
  background-color: #ff00007e; }
  .footer-div-1 ul {
    text-align: center;
    padding: 0; }
    .footer-div-1 ul li {
      color: #ffffff;
      font-family: "Bebas Neue", cursive;
      font-size: 25px;
      list-style: none; }
      .footer-div-1 ul li .footer-ul-link {
        color: #ffffff;
        text-decoration: none; }
      .footer-div-1 ul li .footer-img-tel {
        height: 20px;
        width: 20px;
        margin: 0px 5px; }

.footer-div-social {
  text-align: center;
  margin: 10px 0px; }
  .footer-div-social img {
    margin: 0px 5px; }

@media screen and (min-width: 992px) {
  .footer-div-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #35353500;
    align-items: center;
    margin-top: 10px; }
    .footer-div-1 ul {
      text-align: start; }
      .footer-div-1 ul li {
        font-size: 22px; }
        .footer-div-1 ul li .footer-ul-link {
          transition: all; }
        .footer-div-1 ul li .footer-ul-link:hover {
          color: #ff00007e; }
  .footer-div-social img {
    transition: all 0.8s ease-in-out; }
    .footer-div-social img:hover {
      height: 50px;
      width: 50px; } }
