//VARIABLES

// Color
$color-1: #ff00007e;
$color-2: #ffffff;
$color-3: #ff0000d0;
$color-4: #6e0303d5;
$color-5: #ff000085;

// Fuente
$fuente-principal: 'Bebas Neue', cursive;

// Font-size
$fuente-size: 35px;

// Img-size
$height-img: 400px;
$width-img: 400px;

//Border
$border-1: solid $color-1 2px;

//Transiciones
$transiciones: all .8s ease-in-out;